<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mayingnan.project301">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".allUserActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".requesterActivity.RequesterAcceptedTaskDetailActivity"
            android:label="@string/title_activity_requester_accepted_task_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".requesterActivity.RequesterFinishedTaskDetailActivity" />
        <activity android:name=".providerActivity.ProviderMapActivity" />
        <activity android:name=".allUserActivity.EditProfileActivity" />
        <activity android:name=".providerActivity.ProviderTaskListActivity" />
        <activity android:name=".providerActivity.ProviderBidHistoryActivity" />
        <activity android:name=".requesterActivity.RequesterMapActivity" />
        <activity android:name=".requesterActivity.RequesterEditTaskActivity" />
        <activity android:name=".providerActivity.MakeABidActivity"></activity>
    </application>

</manifest>